@model NLayerApp.WEB.Models.ReportViewModel
@using NLayerApp.DAL.Entities;
@{
    ViewBag.Title = "DeleteReport";
}

<h2>Delete Report</h2>

@{
    Singleton singleton1 = Singleton.GetInstance();
}


<td>
    <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;">
        Your session started at:
        @singleton1.Date
    </h3>
</td>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <input type="hidden" name="ReportId" value="@Model.Id" />


        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete!" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
