@model IEnumerable<NLayerApp.WEB.Models.ReportViewModel>
@using NLayerApp.DAL.Entities;
@using NLayerApp.BLL.Interfaces;
@using NLayerApp.BLL.Services;
@using NLayerApp.WEB.Controllers;
@{
    ViewBag.Title = "Monitoring";
}
@{ 
    Singleton singleton1 = Singleton.GetInstance();
 }
<h2 align ="center">Reports</h2>

   <td>
    <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;">Your session started at:
    @singleton1.Date</h3> <p align="center"> ______________________ </p>
       <!--@DateTime.Now-->
       <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;">
           Sum of O3 pollution:
           @ViewBag.O3Result
       </h3> <p align="center"> ______________________ </p>
       <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;">
           Sum of NO2 pollution:
           @ViewBag.NO2Result
       </h3> <p align="center"> ______________________ </p>
       <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;">
           Sum of SO2 pollution:
           @ViewBag.SO2Result
       </h3>
    </td>



    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.O3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SO2)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.O3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SO2)
                </td>
                <td>
                    @Html.ActionLink("Edit", "MakeChanges", new
               {
                   id = item.Id,
                   date = item.Date,
                   city = item.City,
                   email = @Request.QueryString["email"],
                   O3 = item.O3,
                   NO2 = item.NO2,
                   SO2 = item.SO2
               })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteReport", new
               {
                   id = item.Id,
                   date = item.Date,
                   city = item.City,
                   O3 = item.O3,
                   NO2 = item.NO2,
                   SO2 = item.SO2,
                   email = @Request.QueryString["email"]
               })
                </td>
                <td>
                    @Html.ActionLink("Add", "SetReport", new { id = item.Id, email = @Request.QueryString["email"] })
                </td>
                <td>
                    @Html.ActionLink("Copy", "Archive", new { id = item.Id, email = @Request.QueryString["email"] })
                </td>
            </tr>
        }
    </table>


              
                  <h3 align="center" style="font-size: 1.25em;color: #222; margin: 5px 0;"> Analysis </h3>
                         <br />

    <p align="center" style="font-size: 1.1em;color: #222">
        First part: <br />
        Sum of all pollution: @ViewBag.F1S1 <br />
        Average amount of pollution: @ViewBag.F1S2 <br />
        Forecast for amount of all polution for this year: @ViewBag.F1S3 <br />
        <br />
        Second part:<br />
        Sum of all pollution: @ViewBag.F1S1 <br />
        1% of all pollution: @ViewBag.F1S2 <br />
        Forecast for amount of all polution for this year: @ViewBag.F1S3 <br />
    </p>
